<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <title>@ViewData["Title"] - ShopApp</title>
</head>
<body>

    @{await Html.RenderPartialAsync("_HeaderPartial");}

    <main>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>

    @{await Html.RenderPartialAsync("_FooterPartial");}

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>