@model ShopApp.Models.Category
@{
    ViewBag.Title = "Admin - Create Subcategory";
}

<div class="row">
    <div class="col-md-6" id="form">
        <h4 class="form_title">Subcategory</h4>
        <hr />
        <br />
        <form asp-action="CreateSubcategory" asp-antiforgery="true">
            <div class="form-group">
                <label asp-for="ParentId" class="control-label"></label>
                <a class="link" asp-action="CreateCategory">Create new Main Category</a>
                <select id="main-category" asp-for="ParentId" class="form-select" asp-items="ViewBag.Categories">
                    <option selected="selected" value="" hidden></option>
                </select>
                <span asp-validation-for="ParentId" class="text-danger"></span>
                <span id="error-message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <hr />
            <div class="d-grid gap-2 d-md-block form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
                <a class="btn btn-danger" asp-controller="Home" asp-action="Index" role="button">Cancel</a>
            </div>
            <br />
        </form>
    </div>
</div>

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="/Admin/myscripts/subcategory-validation.js"></script>
}
